# JetBrains
.idea

# Jave
language/target/**
launcher/target/**
cil-parser/target/**
tests/target/**
parser/target/**

#CSharp
BACILHelpersCS/**/bin/**
BACILHelpersCS/**/obj/**
language/src/test/resources/**/obj/**