# JetBrains
.idea

# Targets
language/target/**
launcher/target/**

# CSharp
**/bin/**
**/obj/**
/parser/target/parser-1.0-SNAPSHOT.jar
/parser/target/maven-archiver/pom.properties
/tests/target/maven-archiver/pom.properties
/tests/target/tests-1.0-SNAPSHOT.jar
